*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat-ExtraLight';
}
html{
    max-width: 100%;
    min-height: 100%;
    display: grid;
    scroll-behavior: smooth;
}


.imgfooter{
    margin-top: -2.5rem;
}

#containerfooter{
    margin-top: -0.625rem;
    float: left;
    width: 100%;
    background: linear-gradient(to right, #FE6468 0%, #FC9765 100%);
}

.containerfooter1{
    width: 15%;
    float: left;
    margin: 2.313rem 1.875rem 0 4.375rem;
}

.containerfooter2{
    width: 70%;
    float: left;
    text-align: center;
    margin: 4.75rem -5.625rem 0 -3.438rem;
    padding-right: 6.875rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.006rem;
    color: #FFFFFF;
}

.containerfooter3{
    margin-top: 5.313rem;
    padding-left: 2.5rem;
    width: 15%;
    float: left;
    display: flex;
}
.icon-sociol{
    margin-left: 3%;
}
.containerfooter3 a>i{
    color: #FFFFFF;

}
.containerfooter3 .tiktok > i{
    border-radius: 50%;
    padding: 0.75rem;
    background-color: black;

}
.containerfooter3 .google  > i{
    border-radius: 50%;
    padding: 0.75rem;
    background-color: crimson;
    

}
.containerfooter3 .twitter  > i{
    border-radius: 50%;
    padding: 0.75rem;
    background-color: navy;

}


hr{
    margin: 10.625rem 0 0.625rem 8.625rem;
    width: 80%;
}

.copyright{
    padding: 1%;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #FFFFFF;
}